<section class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">Browse everything.</h1>
  </div>
  <div class="hero-image-container">
    <img src="assets/hero-bg.jpg" alt="Efficiency Improvements" class="hero-image">
      <img src="assets/hero-bg-resposive.jpg" class="mobile-image" alt="resposive">

  </div>
  <div class="trusted-by">
    <span class="trusted-by-text">Trusted by:</span>
    <div class="logo-container">
        <img src="assets/logo1.png" alt="" class="trusted-logo">
        <img src="assets/logo2.png" alt="" class="trusted-logo">
        <img src="assets/logo3.png" alt="" class="trusted-logo">
        <img src="assets/logo4.png" alt="" class="trusted-logo">
        <img src="assets/logo5.png" alt="" class="trusted-logo">
    </div>
  </div>
</section>